<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificado - Dev Day 4 Girls</title>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400&display=swap" rel="stylesheet">
    <style>
        :root {
            --color-background: #CEDCF3;
            --color-title: #2F56A3;
            --color-text: #5B75A5;
            --color-shadows: #C4C4C4;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Titillium Web', sans-serif;
            font-size: 30px;
            font-weight: 200;
            background-color: var(--color-background);
        }

        .container {
            margin: 2rem 2rem;
        }
        .container .cert_title h1 {
            text-align: center;
            font-size: 2rem;
            font-weight: 400;
            color: var(--color-title);
        }

        .container .cert_logo {
            text-align: center;
            margin: 0.9rem 0rem;
        }

        .container .cert_logo #img_logo {
            width: 8rem;
        }

        .container .cert_text p, .container .cert_date p {
            text-align: center;
            color: var(--color-text);
        }

        .container .cert_fund {
            text-align: center;
            display: flex;
            justify-content: space-around;
            color: var(--color-text);
            margin: 4rem 0rem 3rem 0rem;
        }

        .container .cert_fund h4, .container .cert_date p {
            font-size: 0.7rem;
        }

    </style>
</head>
<body>
    {{{body}}}
</body>
</html>